.container {
    width: 40%;
    margin: 0 auto;
    font-family: 'Montserrat';
    text-align: center;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.container img{
    width: 70px;
    text-align: center;
}

input{
    border-color: transparent;
    outline-style: none;
    background-color: rgb(245, 248, 250);
}


button{
    background: rgb(151, 208, 248);
    width: 100%;
    padding: 15px;
    margin: 5px auto;
    border: none;
    border-radius: 15px;

}

button:hover {
    background-color: rgb(27, 149, 224);

}

article {
    margin: 10px 0;
    color:  rgb(151, 208, 248);
    text-align: center;
}


.input-user {
    text-align: start;
    color: rgb(101, 119, 134);
    border-color: rgb(101, 119, 134);
    
}

.input-user label {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    width: 100%;
    background-color: rgb(245, 248, 250);
    display: inline-block;

}

.input-user input {
    margin-bottom: 20px;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: gray 1px solid;
}

.input-user input:focus {
    border-bottom: rgb(27, 149, 224) 1px solid;
}

.input-user:focus-within {
    color: rgb(27, 149, 224);

}

.login-info {
    color:rgb(27, 149, 224);
    margin-bottom: 35px;
    text-decoration: none;
}

.login-info:hover {
    text-decoration: underline;
}